<div class="container posts">
    <div class="row">
        <div class="col">
            <h2 class="featured-title title text-center">LATEST BLOG POSTS</h2>
        </div>
    </div>
    <div class="row">
        <div class="posts_wrap col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="post-item">
                <a href="#" class="post-item_link">
                    <span class="post-item_picture-wrap"><img class="post-item_picture" src="img/posts/blog1.jpg" alt="picture"></span>
                    <span class="post-item_info">
                        Women’s Watches Collection 2018 
                    </span>
                </a>
            </div>
        </div>
        <div class="posts_wrap col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="post-item">
                <a href="#" class="post-item_link">
                    <span class="post-item_picture-wrap">
                        <img class="post-item_picture" src="img/posts/blog2.jpg" alt="picture">
                    </span>
                    <span class="post-item_info">
                            How To Choose What Watch To Buy  
                    </span>
                </a>
            </div>
        </div>
        <div class="posts_wrap col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="post-item">
                <a href="#" class="post-item_link">
                    <span class="post-item_picture-wrap">
                        <img class="post-item_picture" src="img/posts/blog3.jpg" alt="picture">
                    </span>
                    <span class="post-item_info">
                            5 Tips To Help You Choose A Men’s Watch And Make The Right First Impression 
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>