<div class="pos-f-t homebar">        
        <nav class="navbar bg-light homebar-nav-btn_wrap">
          <button class="navbar-toggler text-dark homebar-btn" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">                
            <span class="homebar-toogle-icon_wrap"><i class="fa fa-bars homebar-toogle"></i></span>            
          </button>
          <span class="homebar-toogle-title">Home</span>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
                <ul class="homebar-nav no-gutters">
                        <li class="nav-item homebar-item">
                            <a class="nav-link homebar-link" href="#">Home
                            </a>
                        </li>
                        <li class="nav-item homebar-item dropdown">
                            <a class="nav-link homebar-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>
                            <div class="dropdown-menu nav_menu nav_menu-products" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Woman</a>
                                <a class="dropdown-item" href="#">Man</a>
                                <a class="dropdown-item" href="#">Children</a>
                                <a class="dropdown-item" href="#">UniSex</a>
                            </div>
                        </li>
                        <li class="nav-item homebar-item">
                            <a class="nav-link homebar-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item homebar-item">
                            <a class="nav-link homebar-link" href="#">Sale</a>
                        </li>
                        <li class="nav-item homebar-item">
                            <a class="nav-link homebar-link" href="#">About</a>
                        </li>
                        <li class="nav-item homebar-item">
                            <a class="nav-link homebar-link" href="#">Contacts</a>
                        </li>            
                    </ul>
        </div>
      </div>

<!-- <div class="navbar pos-f-t homebar navbar-expand-sm">
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav no-gutters">
            <li class="nav-item active">
                <a class="nav-link homebar-link active_link" href="#">Home
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link homebar-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </a>
                <div class="dropdown-menu nav_menu nav_menu-products" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Woman</a>
                    <a class="dropdown-item" href="#">Man</a>
                    <a class="dropdown-item" href="#">Children</a>
                    <a class="dropdown-item" href="#">UniSex</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link homebar-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link homebar-link" href="#">Sale</a>
            </li>
            <li class="nav-item">
                <a class="nav-link homebar-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link homebar-link" href="#">Contacts</a>
            </li>            
        </ul>
    </div>    
</div> -->