<div class="container-fluid ">
    <div class="container featured-block">
        <div class="row">
            <div class="col">
                <h2 class="featured-title title text-center">FEATURED PRODUCTS</h2>
            </div>
        </div>
        <div class="row">
            <div class="featured-item_wrap col-xl-3 col-lg-3 col-md-3 col-sm-12">                
                <div class="featured-item">
                    <span class="featured-item_attention_block first-one beg">Sale!</span> 
                    <a href="#" class="featured-item_link">                  
                        <span class="featured-item_img-wrap">                
                            <img class="featured-item_img" src="img/feature/fwatch1.jpg" alt="watch_img">
                        </span>                                
                        <span class="featured-item_description">
                            Louis XV Sapphire Mechanical Watch                           
                        </span>
                    </a>
                    <span class="featured-item_price">
                            <span>$879.00</span>
                        <span class="featured-item_price_discount"></span>             
                    </span>                                                 
                    <a href="#" class="btn featured-item_button">ADD TO CART</a>
                </div>                                
            </div>
            <div class=" featured-item_wrap col-xl-3 col-lg-3 col-md-3 col-sm-12">                
                <div class="featured-item ">
                    <span class="featured-item_attention_block first-one blue">New!</span>
                    <a href="#" class="featured-item_link">
                        <span class="featured-item_img-wrap">                            
                            <img class="featured-item_img" src="img/feature/fwatch2.jpg" alt="watch_img">
                        </span>            
                        <span class="featured-item_description">
                            Anne Klein Women's Rose Gold-Tone Watch
                        </span>
                    </a>
                    <span class="featured-item_price">
                        <span>$939.00</span>
                        <span class="featured-item_price_discount"></span>
                    </span>
                    <a href="#" class="btn featured-item_button">ADD TO CART</a>                  
                </div>                
            </div>
            <div class=" featured-item_wrap col-xl-3 col-lg-3 col-md-3 col-sm-12">                
                <div class="featured-item ">
                    <span class="featured-item_attention_block third-one beg">Sale!</span>
                    <a href="#" class="featured-item_link">
                        <span class="featured-item_img-wrap ">                                
                            <img class="featured-item_img" src="img/feature/fwatch3.jpg" alt="watch_img">  
                        </span>                                                    
                        <span class="featured-item_description ">
                            Citizen Men's Titanium Eco-Drive Watch
                        </span>
                    </a>                           
                    <span class="featured-item_price">
                        <span> $979.00</span>
                        <span class="featured-item_price_discount">$1230.00</span>
                    </span>
                    <a href="#" class="btn featured-item_button">ADD TO CART</a>
                </div>                                
            </div>
            <div class=" featured-item_wrap col-xl-3 col-lg-3 col-md-3 col-sm-12">                
                <div class="featured-item ">
                    <span class="featured-item_attention_block forth-one blue">New!</span>
                    <a href="#" class="featured-item_link">
                        <span class="featured-item_img-wrap ">                            
                            <img class="featured-item_img" src="img/feature/fwatch4.jpg" alt="watch_img">  
                        </span>                                      
                        <span class="featured-item_description">
                            Louis XVI ATHOS Sapphire Mechanical Watch
                        </span>
                    </a>                         
                    <span class="featured-item_price">
                        <span>$879.00</span>
                        <span class="featured-item_price_discount"></span>
                    </span>
                    <a href="#" class="btn featured-item_button">ADD TO CART</a>
                </div>                               
            </div>
        </div>
    </div>
</div>