<nav class="navbar navbar-main navbar-expand-lg navbar-expand-md navbar-expand-sm justify-content-xl-between justify-content-lg-between justify-content-md-between justify-content-sm-center">
    <ul class="navbar-nav no-gutters">
        <li class="nav-item active">
            <a class="nav-link navbar-main-link active_link" href="#">Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link navbar-main-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu nav_menu nav_menu-products" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Woman</a>
                <a class="dropdown-item" href="#">Man</a>
                <a class="dropdown-item" href="#">Children</a>
                <a class="dropdown-item" href="#">UniSex</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-main-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-main-link" href="#">Sale</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-main-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link navbar-main-link" href="#">Contacts</a>
        </li>            
    </ul>
    <div class="form-inline total_products_search_wrap">
        <div class="nav-item dropdown search_wrap">
            <a class="nav-link dropdown-toggle search-link" href="#" id="formDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search search-icon"></i>
            </a>
            <form class="dropdown-menu search-form" aria-labelledby="formDropdownMenuLink">
                <div class="input-group-append search-block">
                    <input type="search" class="form-control search-input-field" placeholder="Search" aria-label="Search">                    
                    <button class="search-btn" type="submit"><i class="fas fa-search search-icon-btn"></i></button>
                </div>                
            </form>
        </div>
        <div class="products_box_wrap">
            <span class="products_box">
                <i class="fas fa-shopping-bag"></i>
            </span>
            <span class="products_number">0</span>
        </div>            
    </div>    
</nav>