<div class="row sale-cards">
    <div class="sales-card-col col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="sales-card_wrap">                
            <div class="sales-card_top">
                <div class="sale-card-top-img_wrap">
                    <img class="sale-card-top-img_picture" src="img/sales_cards/watch1.jpg" alt="watch_img">
                </div>
                <div class="sales-card_top-price_wrap">
                    <span class="sales-card_top-price-crossed">$1235.00</span>
                    <span class="sales-card_top-price-main">$955.00</span>
                </div>
            </div>
            <div class="sales-card_bottom">
                <a href="#" class="sales-card_link">Anne Klein Women&#39s Bracelet Watch</a>                    
            </div>
        </div>
    </div>
    <div class="sales-card-col col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="sales-card_wrap">
            <div class="sales-card_top">
                <div class="sale-card-top-img_wrap">
                    <img class="sale-card-top-img_picture" src="img/sales_cards/watch2.jpg" alt="watch_img">
                </div>
                <div class="sales-card_top-price_wrap">
                    <span class="sales-card_top-price-crossed">$1135.00</span>
                    <span class="sales-card_top-price-main">$899.00</span>
                </div>
            </div>
            <div class="sales-card_bottom">
                <a href="#" class="sales-card_link">Louis XV Sapphire Mechanical Watch</a>                    
            </div>
        </div>
    </div>
    <div class="sales-card-col col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="sales-card_wrap">
            <div class="sales-card_top">
                <div class="sale-card-top-img_wrap">
                    <img class="sale-card-top-img_picture" src="img/sales_cards/watch3.jpg" alt="watch_img">
                </div>
                <div class="sales-card_top-price_wrap">
                    <span class="sales-card_top-price-crossed">$1335.00</span>
                    <span class="sales-card_top-price-main">$869.00</span>
                </div>
            </div>
            <div class="sales-card_bottom">
                <a href="#" class="sales-card_link">Bestdon Swiss Men&#39s Sports Watch</a>                    
            </div>
        </div>
    </div>
</div>
