<footer>
    <div class="container-fluid footer">
        <div class="container footer-blocks">
            <div class="row">
                <div class="footer-block col-xl-6 col-lg-6 col-md-4">
                    <h3 class="footer-title">NEWSLETTER</h3>
                    <p class="footer-form-info">Enter your email address to receive all news, updates on new arrivals, special offers and other discount information</p>
                    <form >
                        <input type="email" class="footer-form-input" id="#" placeholder="Your e-mail">
                        <button type="submit" class="btn reset-btn footer-btn btn__submit">Subscribe</button>
                    </form>
                </div>
                <div class="footer-block col-xl-3 text-xl-left col-lg-3 text-lg-left col-md-4 text-md-center">
                    <h3 class="footer-title">NAVIGATION</h3>
                    <ul class="footer-list">
                        <li class="footer-info"><a href="#" class="footer-info_link">Home</a></li>
                        <li class="footer-info"><a href="#" class="footer-info_link">Catalog</a></li>
                        <li class="footer-info"><a href="#" class="footer-info_link">About us</a></li>
                        <li class="footer-info"><a href="#" class="footer-info_link">Blog</a></li>
                        <li class="footer-info"><a href="#" class="footer-info_link">Contacts</a></li>             
                    </ul>
                </div>                
                <div class="footer-block col-xl-3 text-xl-left col-lg-3 text-lg-left col-md-4 text-md-center">
                    <h3 class="footer-title">INFORMATION</h3>
                    <ul class="footer-list">
                        <li class="footer-info"><a href="#" class="footer-info_link">Terms & Conditions</a></li>
                        <li class="footer-info"><a href="#" class="footer-info_link">Account</a></li>              
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-white-block">
        <span class="footer-copyrights">© 2018 Timecraft. All Rights Reserved.</span>
    </div>
</footer>