.popular {
    background-color: $main-color;
}

.popular-brands {
    padding-top: 90px;
    padding-bottom: 100px;
}

.popular-brands-title {
    color: $text-white;
    // padding-bottom: 82px;
}

.popular-brand-img {
    transition: all, 0.5s linear;
}

.popular-brand-img:hover {
    transform: scale(1.1);
}