<div class="container-fluid popular">
    <div class="container popular-brands">
        <div class="row">
            <div class="col">
                    <h2 class="popular-brands-title title text-center">POPULAR BRANDS</h2>
            </div>
        </div>
        <div class="row text-center align-items-start">
            <div class="col-xl-2 col-lg-2 col-md-4 pt-3 pb-3">
                <a href="#" class="popular-brands-img-link ">
                    <span class="popular-brand-img_wrap ">
                        <img src="img/brands/Rado_logo.png" alt="brand_img" class="popular-brand-img">
                    </span>
                </a>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 pt-3 pb-3">
                <a href="#" class="popular-brands-img-link">
                    <span class="popular-brand-img_wrap">
                        <img src="img/brands/breitling_logo.png" alt="brand_img" class="popular-brand-img">
                    </span>
                </a>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 pt-3 pb-3">
                <a href="#" class="popular-brands-img-link">
                    <span class="popular-brand-img_wrap">
                        <img src="img/brands/cartier_logo.png" alt="brand_img" class="popular-brand-img">
                    </span>
                </a>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 pt-3 pb-3">
                <a href="#" class="popular-brands-img-link">
                    <span class="popular-brand-img_wrap">
                        <img src="img/brands/omega_logo.png" alt="brand_img" class="popular-brand-img">
                    </span>
                </a>
                </div>
            <div class="col-xl-2 col-lg-2 col-md-4 pt-3 pb-3">
                <a href="#" class="popular-brands-img-link">
                    <span class="popular-brand-img_wrap">
                        <img src="img/brands/PatekPhilippe_logo.png" alt="brand_img" class="popular-brand-img">
                    </span>
                </a>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 pt-3 pb-3">
                <a href="#" class="popular-brands-img-link">
                    <span class="popular-brand-img_wrap">
                        <img src="img/brands/rolex_logo.png" alt="brand_img" class="popular-brand-img">
                    </span>
                </a>
            </div>            
        </div>
    </div>
</div>